<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="admin" connectionString="Data Source=JOHN_KEHINDE;Initial Catalog=MultiTracksDB;Persist Security Info=True;User ID=sa;Password=kehindejohn" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="RedirectToArtistWithID" stopProcessing="true">
					<match url="^PageToSync/artistDetails\.aspx$" />
					<conditions>
						<add input="{QUERY_STRING}" pattern="artistID=" negate="true" />
					</conditions>
					<action type="Redirect" url="PageToSync/artistDetails.aspx?artistID=1" appendQueryString="false" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>